USE [HRMS]
GO
/****** Object:  StoredProcedure [dbo].[EMPLOYEE_ATTENDANCE]    Script Date: 18-05-2023 10:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[EMPLOYEE_ATTENDANCE]@EMP_ID BIGINT,@ATTENDANCE_DATE DATETIME,@ATT_TIME DATETIME,@Latitude nvarchar(50),@Lognitude nvarchar(50),@Leave_Type nvarchar(50),@Remark nvarchar(100),@att_Type nvarchar(10),@retStatus int outputASBEGIN	IF(@att_Type='1')	BEGIN		IF(SELECT COUNT(*) FROM Emp_Attendance(nolock) WHERE Emp_ID=@EMP_ID AND CONVERT(DATE,Attendance_Date)=CONVERT(DATE,GETDATE())AND (InTime IS NOT NULL OR Is_On_Leave=1))>0		BEGIN			SET @retStatus=0		END		ELSE		BEGIN			INSERT INTO Emp_Attendance (Emp_ID,Attendance_Date,InTime,IN_Latitude,IN_Lognitude,Is_IN_From_OUTER_Location,Is_On_Leave,Punchin_Remark,Is_Active,Is_Deleted,TimeStamp)			VALUES(@EMP_ID,CONVERT(DATE,@ATTENDANCE_DATE),CONVERT(TIME,@ATT_TIME),@Latitude,@Lognitude,0,0,@Remark,1,0,GETDATE())			SET @retStatus=1		END	END	--======================================================================================================================	ELSE IF(@att_Type='2')	BEGIN		IF(SELECT COUNT(*) FROM Emp_Attendance(nolock) WHERE Emp_ID=@EMP_ID AND CONVERT(DATE,Attendance_Date)=CONVERT(DATE,GETDATE())AND (InTime IS NOT NULL OR Is_On_Leave=1))=0		BEGIN			SET @retStatus=0		END		ELSE		BEGIN			UPDATE Emp_Attendance SET OutTime=CONVERT(TIME,@ATT_TIME),PunchOut_Remark=@Remark,OUT_Latitude=@Latitude,OUT_Lognitude=@Lognitude,			IS_OUT_FROM_OUTER_LOCATION=0 WHERE Emp_ID=@EMP_ID AND convert(date,Attendance_Date)=convert(date,GETDATE())			SET @retStatus=1		END	END	--======================================================================================================================	ELSE IF(@att_Type='3')	BEGIN		IF(SELECT COUNT(*) FROM Emp_Attendance(nolock) WHERE Emp_ID=@EMP_ID AND CONVERT(DATE,Attendance_Date)=CONVERT(DATE,GETDATE())AND (InTime IS NOT NULL OR Is_On_Leave=1))>0		BEGIN			SET @retStatus=0		END		ELSE		BEGIN			INSERT INTO Emp_Attendance (Emp_ID,Attendance_Date,InTime,IN_Latitude,IN_Lognitude,Is_IN_From_OUTER_Location,Is_On_Leave,Punchin_Remark,Is_Active,Is_Deleted,TimeStamp)			VALUES(@EMP_ID,CONVERT(DATE,@ATTENDANCE_DATE),CONVERT(TIME,@ATT_TIME),@Latitude,@Lognitude,1,0,@Remark,1,0,GETDATE())			SET @retStatus=1		END		END	--===============================================================================================================================	ELSE IF(@att_Type='4')	BEGIN		IF(SELECT COUNT(*) FROM Emp_Attendance(nolock) WHERE Emp_ID=@EMP_ID AND CONVERT(DATE,Attendance_Date)=CONVERT(DATE,GETDATE())AND (InTime IS NOT NULL OR Is_On_Leave=1))=0		BEGIN			SET @retStatus=0		END		ELSE		BEGIN			UPDATE Emp_Attendance SET OutTime=CONVERT(TIME,@ATT_TIME),PunchOut_Remark=@Remark,OUT_Latitude=@Latitude,OUT_Lognitude=@Lognitude,			IS_OUT_FROM_OUTER_LOCATION=1 WHERE Emp_ID=@EMP_ID AND convert(date,Attendance_Date)=convert(date,GETDATE())			SET @retStatus=1		END	END	--===========================================================================================================================	ELSE IF(@att_Type='5')	BEGIN		IF(SELECT COUNT(*) FROM Emp_Attendance(nolock) WHERE Emp_ID=@EMP_ID AND CONVERT(DATE,Attendance_Date)=CONVERT(DATE,GETDATE())AND (InTime IS NOT NULL OR Is_On_Leave=1))>0		BEGIN			SET @retStatus=0		END		ELSE		BEGIN			INSERT INTO Emp_Attendance (Emp_ID,Attendance_Date,IN_Latitude,IN_Lognitude,Is_On_Leave,Leave_Remark,Leave_Type,Is_Active,Is_Deleted,TimeStamp)			VALUES(@EMP_ID,CONVERT(DATE,@ATTENDANCE_DATE),@Latitude,@Lognitude,1,@Remark,@Leave_Type,1,0,GETDATE())			SET @retStatus=1		END	ENDEND