USE [CALL_CENTER_NEW]
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 05-04-2023 12:20:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[GetUsers]
@User_ID int=''
as
Begin
	if(@User_ID=0 or @User_ID is null)
		SELECT USER_ID,USER_NAME,NAME,B.ROLE_NAME,A.MOBILE_NO,A.EMAIL_ID,A.ADDRESS,A.IS_ACTIVE,A.IS_DELETED FROM MST_USERS A,MST_ROLES B
		WHERE A.ROLE_ID=B.ID
	else
		SELECT USER_ID,USER_NAME,NAME,B.ROLE_NAME,A.MOBILE_NO,A.EMAIL_ID,A.ADDRESS,A.IS_ACTIVE,A.IS_DELETED FROM MST_USERS A,MST_ROLES B
		WHERE A.ROLE_ID=B.ID
		and a.USER_ID=@User_ID
END


