USE [CALL_CENTER_NEW]
GO
/****** Object:  StoredProcedure [dbo].[COMPLAINTS_REGISTER_API]    Script Date: 31-03-2023 12:15:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[COMPLAINTS_REGISTER_API](
@OFFICE_CODE BIGINT=0,
@COMPLAINT_TYPE int=1,
@COMPLAINT_SOURCE_ID int=1,
@NAME VARCHAR(200),
@FATHER_NAME VARCHAR(200),
@KNO VARCHAR(20),
@LANDLINE_NO VARCHAR(20),
@MOBILE_NO VARCHAR(20),	
@ALTERNATE_MOBILE_NO VARCHAR(20),
@EMAIL VARCHAR(50),
@ACCOUNT_NO VARCHAR(20),
@ADDRESS1 VARCHAR(150),
@ADDRESS2 VARCHAR(150),
@ADDRESS3 VARCHAR(150),
@LANDMARK VARCHAR(150), 
@CONSUMER_STATUS VARCHAR(150), 
@FEEDER_NAME VARCHAR(150), 
@AREA_CODE VARCHAR(10),
@REMARKS varchar(255)='',
@USER_ID BIGINT=0,
@retStatus   INT OUTPUT,
@retMsg   VARCHAR (255) OUTPUT,
@retComplaint_no   BIGINT OUTPUT
)

AS 
BEGIN
	DECLARE @current_status INT=1,
	@JE_AREA_ID BIGINT=0,
	@SDO_CODE BIGINT=0,
	@COMPLAINT_CURRENT_STATUS_ID int=10,
	@COMPLAINT_status int=1,
	@SUB_COMPLAINT_TYPE int=1,
	@CONSUMER_TYPE int=1, 
	@AssigneeId int
	
	SET @SDO_CODE=@OFFICE_CODE
	SET @COMPLAINT_CURRENT_STATUS_ID=10
	SET	@COMPLAINT_status =1
	SET @CONSUMER_TYPE =1
	SET @AssigneeId=1

	SELECT TOP 1 @SUB_COMPLAINT_TYPE=ID FROM MST_SUB_COMPLAINT_TYPE WHERE COMPLAINT_TYPE_ID=@COMPLAINT_TYPE ORDER BY ID
	
	SET @JE_AREA_ID=@OFFICE_CODE+1
	
	DECLARE @COMPLAINT_NO BIGINT
	SELECT @COMPLAINT_NO=COMPLAINT_NO FROM COMPLAINT WHERE OFFICE_CODE=@OFFICE_CODE
	IF(ISNULL(@COMPLAINT_NO,0)=0)
	BEGIN
		SET @COMPLAINT_NO=CONVERT(VARCHAR,@OFFICE_CODE)+'1'
	END
	ELSE
	BEGIN
		SELECT TOP 1 @COMPLAINT_NO= CONVERT(VARCHAR,OFFICE_CODE)+CONVERT(VARCHAR,RIGHT(COMPLAINT_NO, LEN(COMPLAINT_NO) - 7)+1)
		FROM COMPLAINT WHERE OFFICE_CODE=@OFFICE_CODE
		ORDER BY COMPLAINT_NO DESC
	END
		if(@AssigneeId=8)
		begin
			set @current_status=2
		end
		else if(@AssigneeId=9)
		begin
			set @current_status=3
		end
		else
		begin
			set @current_status=10
		end

		INSERT INTO COMPLAINT (COMPLAINT_NO,Complaint_date,OFFICE_CODE,  COMPLAINT_TYPE, COMPLAINT_status, COMPLAINT_SOURCE_ID, CONSUMER_TYPE_ID, JE_AREA, SDO_CODE, NAME, FATHER_NAME, KNO, LANDLINE_NO, MOBILE_NO, ALTERNATE_MOBILE_NO, EMAIL, 
             ACCOUNT_NO, ADDRESS1, ADDRESS2, ADDRESS3, LANDMARK, CONSUMER_STATUS, FEEDER_NAME, AREA_CODE, SUB_COMPLAINT_TYPE, REMARKS, IS_ACTIVE, IS_DELETED, TIME_STAMP, IS_UPDATED, UPDATED_TIME_STAMP,COMPLAINT_CURRENT_STATUS,ESCLATED_TO,AssigneeId)
		VALUES    (@COMPLAINT_NO,CONVERT(DATE,GETDATE()),@OFFICE_CODE,  @COMPLAINT_TYPE, @COMPLAINT_status, @COMPLAINT_SOURCE_ID, @CONSUMER_TYPE, @JE_AREA_ID, @SDO_CODE, @NAME, @FATHER_NAME, @KNO, @LANDLINE_NO, @MOBILE_NO, @ALTERNATE_MOBILE_NO, @EMAIL, 
             @ACCOUNT_NO, @ADDRESS1, @ADDRESS2, @ADDRESS3, @LANDMARK, @CONSUMER_STATUS, @FEEDER_NAME, @AREA_CODE, @SUB_COMPLAINT_TYPE, @REMARKS, 1, 0, GETDATE(), 0, null,@current_status,1,@AssigneeId);
			
		INSERT INTO COMPLAINT_REMARK (COMPLAINT_NO,USER_ID,REMARK_DATE_TIME,REMARK,IS_ACTIVE,IS_DELETED,TIME_STAMP) 
		VALUES (@COMPLAINT_NO,@USER_ID,GETDATE(),@REMARKS,1,0,GETDATE());

		INSERT INTO COMPLAINT_STEPS (COMPLAINT_NO,Complaint_Current_status,Source,UserID,IS_ACTIVE,IS_DELETED,TIME_STAMP) 
		VALUES (@COMPLAINT_NO,@current_status,@COMPLAINT_SOURCE_ID,@USER_ID,1,0,GETDATE());

		SELECT @retStatus = 1 , @retMsg='Complaint Saved',@retComplaint_no=@COMPLAINT_NO;
END